.u-section-1 .u-sheet-1 {
  min-height: 472px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 520px;
}

.u-section-1 .u-list-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic11.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 17px 10px 0 48px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic21.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 17px 10px 0 48px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic31.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-1 .u-text-4 {
  margin: 17px 10px 0 48px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic29.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-1 .u-text-5 {
  margin: 17px 10px 0 48px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic5.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-1 .u-text-6 {
  margin: 17px 10px 0 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 64px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2090px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1974px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
    margin-right: 75px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
    margin-right: 75px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
    margin-right: 75px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1px;
    margin-right: 75px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1px;
    margin-right: 75px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 110px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 350px;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 1px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 0 0 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic6.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-2 .u-text-1 {
  margin: 17px 10px 0 19px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic7.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 17px 10px 0 19px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic8.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-2 .u-text-3 {
  margin: 17px 10px 0 19px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic9.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-2 .u-text-4 {
  margin: 17px 10px 0 19px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic10.jpg");
  background-position: 50% 50%;
  margin: 51px 33px 0 10px;
}

.u-section-2 .u-text-5 {
  margin: 17px 10px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 64px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1967px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 99px;
    margin-left: 78px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 99px;
    margin-left: 78px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 99px;
    margin-left: 78px;
  }

  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 99px;
    margin-left: 78px;
  }

  .u-section-2 .u-image-5 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 99px;
    margin-left: 78px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 368px;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  margin: 30px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic111.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-3 .u-text-1 {
  margin: 17px -12px 0 41px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic12.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-3 .u-text-2 {
  margin: 17px -12px 0 41px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic13.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-3 .u-text-3 {
  margin: 17px -12px 0 41px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-3 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic14.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-3 .u-text-4 {
  margin: 17px -12px 0 41px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-3 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic15.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-3 .u-text-5 {
  margin: 17px -12px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 64px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 64px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1967px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 108px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 108px;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 108px;
  }

  .u-section-3 .u-image-4 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 108px;
  }

  .u-section-3 .u-image-5 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 108px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 299px;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 1px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 30px auto 1px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic16.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-4 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic17.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-4 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic18.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-4 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic19.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-4 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic20.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-4 .u-text-5 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 64px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 64px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 64px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 64px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1967px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 48px;
    margin-left: 70px;
  }

  .u-section-4 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 48px;
    margin-left: 70px;
  }

  .u-section-4 .u-image-3 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 48px;
    margin-left: 70px;
  }

  .u-section-4 .u-image-4 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: 48px;
    margin-left: 70px;
  }

  .u-section-4 .u-image-5 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-right: 48px;
    margin-left: 70px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 358px;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 60px auto 0 520px;
}

.u-section-5 .u-list-1 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic211.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-5 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic22.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-5 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic23.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-5 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic24.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-5 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-5 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic25.jpg");
  background-position: 50% 50%;
  margin: 0 33px 0 10px;
}

.u-section-5 .u-text-5 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 64px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 64px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 64px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 64px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1967px;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-5 .u-text-1 {
    width: 163px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-5 .u-text-2 {
    width: 163px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-5 .u-text-3 {
    width: 163px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-5 .u-text-4 {
    width: 163px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-5 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-5 .u-text-5 {
    width: 163px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 320px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 1px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 30px auto 1px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px) calc(20% - 13.6px);
  grid-gap: 17px 17px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-6 .u-image-1 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic26.jpg");
  background-position: 50% 50%;
  margin: 17px 0 0;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-6 .u-image-2 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic27.jpg");
  background-position: 50% 50%;
  margin: 17px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-6 .u-image-3 {
  height: 204px;
  width: 204px;
  background-image: url("images/1pic28.jpg");
  background-position: 50% 50%;
  margin: 17px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-6 .u-image-4 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/1pic29-44.jpg");
  background-position: 50% 50%;
  margin: 17px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-6 .u-image-5 {
  height: 204px;
  width: 204px;
  object-position: 41.85% 50%;
  background-image: url("images/PicsArt_05-26-01.40.38.jpg");
  background-position: 50% 50%;
  margin: 17px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-6 .u-text-1 {
    margin-left: 64px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 64px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 64px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 64px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 23px 23px;
    min-height: 1967px;
  }

  .u-section-6 .u-image-1 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-6 .u-text-1 {
    width: 163px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-6 .u-text-2 {
    width: 163px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-3 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-6 .u-text-3 {
    width: 163px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-6 .u-text-4 {
    width: 163px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-5 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-6 .u-text-5 {
    width: 163px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }
}